{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/usr/bin/env bash

echo "Installing general software"
yay -S {{ .packages.arch.general | join " " }}

echo "Installing GPG"
yay -S {{ .packages.arch.gpg | join " " }}

echo "Installing shell related software"
yay -S {{ .packages.arch.shell | join " " }}

echo "Installing Neovim and related software"
yay -S {{ .packages.arch.neovim | join " " }}

echo "Installing kitty and related software"
yay -S {{ .packages.arch.kitty | join " " }}

echo "Installing hyprland and related software"
yay -S {{ .packages.arch.hyprland | join " " }}

echo "Configuring UWSM to appear in SDDM"
{
cat <<EOF
[Desktop Entry]
Name=Hyprland (with UWSM)
Comment=An intelligent dynamic tiling Wayland compositor
Exec=uwsm start -N Hyprland -C Hyprland -S -- Hyprland
DesktopNames=Hyprland
Type=Application
EOF
} | sudo tee /usr/share/wayland-sessions/hyprland-uwsm.desktop > /dev/null
{{ end -}}
