{{- if eq .chezmoi.hostname "homer" }}
preload = ~/.local/share/wallpapers/catppuccin/shaded_landscape_fixed.png
wallpaper = , ~/.local/share/wallpapers/catppuccin/shaded_landscape_fixed.png
{{- else }}
preload = ~/.local/share/wallpapers/catppuccin/shaded.png
wallpaper = , ~/.local/share/wallpapers/catppuccin/shaded.png
{{- end }}

